@media only screen and (max-width:1199px){
    .about-img img {
        width: 440px;
        height: 365px;
    }
}


    @media only screen and (max-width:991px){

        .menu-bar {
            position: fixed;
            background: #0c2461;
            top: 0%;
            right: 0%;
            height: 100vh;
            width: 0%;
            padding-top: 98px;
            z-index: 100;
        }
        
        .menu-bar ul li {
            display: block;
            padding: 15px 50px;
        }

        .about-img img {
            width: 500px;
            height: 413px;
            margin-top: 65px;
        }

        .about-us {
            height: 1030px;
        }

        .about-content {
            text-align: center;
            margin-top: 65px;
        }

        .download-cv-btn {
            text-align: center;
        }        

        .portfolio {
            height: 100%;
        }

        

        .skills {
            height: 995px;

            }

            .blog {
                height: 1860px !important;
            }

            .project-count {
                height: 182px;
            }

            .project-count .cnt-up {
                padding: 50px 0px;
            
            }

            /* .menu-bar{
                 display: none;
            } */

                .hero-area {
                    
                    height: 495px;
                  
                }
                .skills::before {
                    left: 81%;
                }

                #menu-bar{
                    display: inline-block;
                }
        }

        @media only screen and (max-width:767px){
            .blog {
                height: 2106px !important;
            }

            .footer {
                height: 290px;
            }

            .project-count {
                height: 545px;
            }

            .sw-btn ul li {
                font-size: 1.5rem;
               
            }

            .portfolio {
                height: 100%;
            }
            
            .hero-content h1 {
            
                font-size: 5rem;
                
            }
            .skills::after {
                top: 5%;
                left: 7%;

            }
         

        
        }

        @media only screen and (max-width:576px){

            .about-img img {
                width: 100%;
                height: auto;
                
            } 
            
            .logo {
                padding: 0px 21px;
            }

            .blog {
                height: 2106px !important;
            }

            .skills::before {
                bottom: 1%;
                left: 77%;
                width: 55px;
                height: 48px;
            }
            
            .skills::after {
                width: 49px;
                height: 48px;
              
            }   
            
            .about-us::before {
                bottom: 15%;
                left: 78%;
                width: 55px;
                height: 48px;
               
            }
            
            .menu-bar ul li {
              
                padding: 15px 0px;
            }
            .footer-contact {
             
                margin-top: 15px;
            }
        }

        @media only screen and (max-width:520px){
            .blog {
                height: 1971px !important;
             
            }

            .portfolio {
                height: 100%;
            }            
            
        }

        @media only screen and (max-width:470px){
           .blog{
            height: 1865px !important;
           }
        }
         
        @media only screen and (max-width:400px){
            .blog {
                height: 1736px !important;
            }

            .footer-contact input {
               
                width: 75%;
            }
        }

        @media only screen and (max-width:360px){
            .blog {
                height: 1628px !important;
            }       
        }


        @media only screen and (max-width:335px){
            .portfolio {
                height: 100%;
            
            }
        
            
            .hire-me {
                padding: 8px 20px !important;
               
            }


            .hire-me-2 {
            
                font-size: 1.2rem;
            }


            .contact-bt {
                font-size: 1.2rem;
               
            }            
               
           .hero-content h1{
               font-size: 3.9rem;
           }
            
        }

        @media only screen and (max-width:318px){
            .blog {
                height: 1529px !important;
            }

            .hire-me-2 {
            
                font-size: 0.9rem;
            }


            .contact-bt {
                font-size: 0.9rem;
               
            }            
             
        }


        @media only screen and (max-width:300px){

            .footer-contact button {
                padding: 9px 21px;
            }

            .skills::before {
                bottom: 1%;
                left: 64%;
              
            }

            .about-us::before {
                bottom: 5%;
                left: 70%;
              
            }            
        }

        